In [17]:
import pandas as pd
import re
import csv
import numpy

In [18]:
df = pd.read_csv('C:/Users/Giorgos/Desktop/προχ.θεματα.τεχν.εφαρ.βασ.δεδομενων/countries_data.csv')
df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Albania,ALB,"Intentional homicides, male (per 100,000 male)",VC.IHR.PSRC.MA.P5,NaN,NaN,NaN,NaN,NaN,NaN,...,8.104028e+00,8.886109e+00,6.788282e+00,7.064761e+00,3.262075e+00,4.216115e+00,3.062083e+00,3.473225e+00,NaN,NaN
1,Albania,ALB,Merchandise exports to low- and middle-income ...,TX.VAL.MRCH.R6.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,2.514150e-01,2.689339e-02,2.976791e-02,4.229945e-02,3.313147e-02,1.060773e-01,9.146974e-02,5.389636e-02,5.689714e-02,NaN
2,Albania,ALB,Agricultural raw materials exports (% of merch...,TX.VAL.AGRI.ZS.UN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.602337e+00,2.485839e+00,2.336270e+00,1.272659e+00,2.305902e+00,2.404998e+00,4.899224e-01,3.254002e-01,4.926672e-01,5.455132e-01
3,Albania,ALB,Merchandise imports from low- and middle-incom...,TM.VAL.MRCH.R3.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,1.466210e+00,1.620457e+00,1.766283e+00,1.830649e+00,1.795751e+00,1.767139e+00,1.685533e+00,1.720723e+00,1.517052e+00,NaN
4,Albania,ALB,"Tariff rate, applied, weighted mean, primary p...",TM.TAX.TCOM.WM.AR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,1.760000e+00,1.680000e+00,1.870000e+00,2.020000e+00,1.950000e+00,1.820000e+00,1.260000e+00,1.990000e+00,1.990000e+00,2.210000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36070,Kosovo,XKX,Market capitalization of listed domestic compa...,CM.MKT.LCAP.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36071,Kosovo,XKX,Insurance and financial services (% of service...,BX.GSR.INSF.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,1.719488e+00,2.926062e+00,2.817631e+00,2.353631e+00,1.961581e+00,1.734230e+00,1.498466e+00,1.932765e+00,2.067149e+00,5.678297e+00
36072,Kosovo,XKX,"Net primary income (BoP, current US$)",BN.GSR.FCTY.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.547143e+08,1.981014e+08,1.618352e+08,1.515409e+08,1.029058e+08,8.180062e+07,1.473011e+08,1.338771e+08,1.802300e+08,1.858283e+08
36073,Kosovo,XKX,"Primary income payments (BoP, current US$)",BM.GSR.FCTY.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.783720e+08,9.751231e+07,1.403972e+08,1.349943e+08,1.431762e+08,1.537106e+08,1.129624e+08,1.773986e+08,1.305636e+08,1.454746e+08
36074,Kosovo,XKX,Forest area (sq. km),AG.LND.FRST.K2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
cols= df.columns
cols

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020'],
      dtype='object')

In [20]:
lst=[]
lst = [df.loc[i] for i in range(len(df)) if (df.loc[i, "Indicator Code"][:2] in ("NY", "SE", "SD"))]

In [29]:
arr = numpy.asarray(lst)
df = pd.DataFrame(arr)

In [33]:
df.columns=cols

In [35]:
df.to_csv(r'C:\Users\Giorgos\Desktop\προχ.θεματα.τεχν.εφαρ.βασ.δεδομενων\test.csv')

In [34]:
df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Albania,ALB,"Tertiary education, academic staff (% female)",SE.TER.TCHR.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,50.5317,NaN,NaN,NaN,NaN,55.209499,56.01902,56.353359,56.620819,56.964119
1,Albania,ALB,"Educational attainment, at least Bachelor's or...",SE.TER.CUAT.BA.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,11.4997,12.395,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Albania,ALB,Progression to secondary school (%),SE.SEC.PROG.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,99.48943,99.75281,99.80782,99.08036,98.06952,98.17323,98.53003,NaN,NaN,NaN
3,Albania,ALB,"Secondary education, general pupils",SE.SEC.ENRL.GC,NaN,NaN,NaN,NaN,NaN,NaN,...,336461.0,330089.0,322077.0,306610.0,292278.0,272891.0,259397.0,248267.0,NaN,NaN
4,Albania,ALB,Lower secondary school starting age (years),SE.SEC.AGES,NaN,NaN,NaN,NaN,NaN,NaN,...,11.0,11.0,11.0,11.0,11.0,11.0,11.0,11.0,11.0,11.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6020,Kosovo,XKX,"GNI per capita, PPP (current international $)",NY.GNP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,7970.0,8300.0,8580.0,8830.0,9510.0,10130.0,10650.0,11200.0,12070.0,11660.0
6021,Kosovo,XKX,Gross domestic savings (% of GDP),NY.GDS.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.190303,-0.418342,0.902051,-2.17628,1.31483,6.157981,8.940202,8.086372,7.430006,1.188419
6022,Kosovo,XKX,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,6.319886,1.712195,5.340908,3.348804,5.91627,5.571757,4.82569,3.406631,4.756831,-5.340275
6023,Kosovo,XKX,"Inflation, GDP deflator (annual %)",NY.GDP.DEFL.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,6.30369,3.525404,0.353023,1.601439,0.607803,0.779272,0.439986,1.49892,0.962931,1.381107
6024,Kosovo,XKX,Adjusted savings: natural resources depletion ...,NY.ADJ.DRES.GN.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN